//
// MobileApplicationTrackingAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class MobileApplicationTrackingAPI: APIBase {
    /**
     Submit mobile application tracking data for Tune applications
     
     - parameter customerId: (query) customerId 
     - parameter request: (body) Tune campaign tracking information (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func submitTuneRequest(customerId: String, request: DataCollectorTuneRequest? = nil, completion: @escaping ((_ error: Error?) -> Void)) {
        submitTuneRequestWithRequestBuilder(customerId: customerId, request: request).execute { (response, error) -> Void in
            completion(error);
        }
    }


    /**
     Submit mobile application tracking data for Tune applications
     - POST /v2/tune
     
     - parameter customerId: (query) customerId 
     - parameter request: (body) Tune campaign tracking information (optional)

     - returns: RequestBuilder<Void> 
     */
    open class func submitTuneRequestWithRequestBuilder(customerId: String, request: DataCollectorTuneRequest? = nil) -> RequestBuilder<Void> {
        let path = "/v2/tune"
        let URLString = DataCollectorAPI.basePath + path
        let parameters = request?.encodeToJSON() as? [String:AnyObject]

        let url = NSURLComponents(string: URLString)
        url?.queryItems = APIHelper.mapValuesToQueryItems(values:[
            "customerId": customerId
        ])
        

        let requestBuilder: RequestBuilder<Void>.Type = DataCollectorAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
